@import "tailwindcss";

@theme {
  --color-agafarma-blue: #00AFDA;
  --color-agafarma-dark-blue: #007BB6;
  --color-agafarma-yellow: #FFD504;
  --color-agafarma-bg: #FBFAFA;
  
  --font-sans: 'Inter', system-ui, sans-serif;
  
  --radius-4xl: 2rem;
  --radius-5xl: 2.5rem;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--color-agafarma-bg);
  /* Text directly on the background must be #00AFDA */
  color: var(--color-agafarma-blue);
}